:root {
  // Arbor
  --arbor-400: #54be62;
  --arbor-500: #34b244;
  --arbor-600: #2c9639;
  // Arbor accent
  --arbor-accent-500: hsl(98, 80%, 55%);
  // Text
  --color-text-light: #777;
  // Layout
  --gutter-x: 2rem;
  // Panels
  --bg-panel: #fff;
  --border-color-panel: #ddd;
  --border-color-panel-light: #eee;
}