.media {
  background: radial-gradient(circle at 70% 50%, #FFD5BA 0%, #FFF 70%);
  border-block-end: .2rem solid rgba(0, 0, 0, .08);

  :global {
    .slider {
      overflow-x: auto;
      scrollbar-width: thin;
      display: flex;
      height: 50vw;
      max-height: 70vh;
    }

    .track {
      flex: 0 0 auto;
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: repeat(auto-fit, minmax(10rem, 12vw));
      grid-auto-flow: column dense;
      gap: 2rem;
      padding-block: 6rem;
      padding-inline: 4.8rem;
      margin-inline-start: 40rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: .5rem;
        box-shadow: 0 0 .5rem rgba(0, 0, 0, .1), 0 0 .2rem rgba(0, 0, 0, .03), 0 0 2rem rgba(0, 0, 0, .1);
      }

      img:first-child {
        border-top-left-radius: 3rem;
        border-bottom-left-radius: 3rem;
        grid-row: 1 / -1;

      }

      img:nth-child(8n + 1) {
        grid-row: 1 / -1;
      }

      img:is(:nth-child(6n), :nth-child(11n)) {
        grid-column: span 2;
      }

      img:is(:nth-child(5n), :nth-child(9n)) {
        grid-row: span 2;
      }

      img:nth-child(7n) {
        grid-column: span 2;
        grid-row: span 2;
      }

      img:nth-child(9n) {
        grid-row: span 1;
      }

      img:nth-child(3n + 1):not(:nth-child(4n + 2):not(:nth-child(4n + 1))) {
        grid-column: span 2;
      }

      img:nth-last-child(-n + 3) {
        grid-column: span 1 !important;
        grid-row: span 1 !important;
      }
    }
  }
}